
  <% layout('layouts/boilerplate') %>
<br>
<div class="row mt-3">
    <div class="col-8 offset-2" >
    <h2>Create a new listing</h2>
    <form method="POST"  action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="Listing[title]" class="form-control" type="text" placeholder="Add a catchy Title" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label" >Description</label>
            <textarea class="form-control" name="Listing[description]" type="text" required ></textarea>
            <div class="invalid-feedback">Enter a short discription</div>
       </div>

       <!-- <div class="mb-3">
           <label for="image" class="form-label" >Image Link</label>
           <input name="Listing[image][url]" class="form-control" type="text" placeholder="Enter image URL/link">
         </div> -->

          <div class="mb-3">
           <label for="image" class="form-label" >Upload Image</label>
           <input name="Listing[image]" class="form-control" type="file" placeholder="Upload Image">
         </div>

         <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label>
            <input placeholder="1200" name="Listing[price]"  class="form-control" required>
         <div class="invalid-feedback">
            Please enter a valid price
        </div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
         <input placeholder="India" name="Listing[country]" class="form-control" type="text" required>
        <div class="invalid-feedback">
             Country should be valid
        </div>
         </div>
         </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
           <input  name="Listing[location]" class="form-control" type="text" placeholder="Jaipur, Rajasthan" required>
        <div class="invalid-feedback">
           Location should be valid
        </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
    <br>
    </div>
</div>
